/* CSS declarations go here */

body {
  padding-top: 50px;
}

.carousel-caption {
  top: 0;
  background: rgba(0,0,0,.5);
  color: #ffffff;
}

.carousel-caption div {
  position: absolute;
  top: 50px;
  left: 100px;
  right: 300px;
}

